.main-container{
    display:flex;
    justify-content: center;
    
}

.custom-alias{
    font-size: 1.2em;
}

.custom-alas span {
    margin-right: 3px;
}

.help{
    font-size: 0.8em;
}

hr {
    margin: 10px 0 10px 0;
}

input {
    padding: 4px;
    font-size: 1.2em;
}

form {
    padding: 16px;
    border: 1px solid #bebebe;
}

.url{
    width: 67%;
}

.button{
    width: 30%;
}

h2{
    margin-top: 0;
}